* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(9, 1, 39);
    color: white;
  }
  .container {
    margin-right: 100px;
  }
  .card {
    height: 10rem;
    width: 18rem;
    background: rgb(14, 3, 101);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .card h3 {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 7px;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    font-size: 16px;
  }
  input {
    height: 2rem;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border: none;
    outline: none;
    border-radius: 0.6rem;
    font-size: 1rem;
    padding-right: 7rem;
    padding-left: 0.9rem;
    caret-color: white;
    color: white;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .Content {
    padding: 2px;
    row-gap: 10px;
  }
 
  .btn {
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
  }
  
  .QR-Canvas {
    height: 15rem;
    width: 15rem;
    background-color: white;
    color: black;
    border-radius: 1rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 1rem;
    position: absolute;
    margin-left: 650px;
  }

  .Heading {
    padding: 5px;
  }

  #QRImg {
    text-align: center;
  }
  #QRImg.show-img {
    margin: 10px auto;
    border: 1px solid #d1d1d1;
  }
  
  @media screen and (max-width: 601px){
    .QR-Canvas{
      margin-top: 650px;
      margin-right: 650px;
    }
    body{
      height: 40vh;
    }
  }
  
  .loader {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 6px solid blue;
    border-top-color: white;
    position: absolute;
    top: 40%;
    left: 40%;
    animation: spin 1s infinite;
  }

  @keyframes spin {
    0%{
      transform: 0deg;
    }
    100%{
       transform: rotate(360deg);
    }
  }
  
.btn {
  margin: 10px;
  padding: 15px 40px;
  border: none;
  outline: none;
  color: #FFF;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}

.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* glow */
.btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* hover */
.btn:hover::before {
  opacity: 1;
}

.btn:active:after {
  background: transparent;
}

.btn:active {
  color: #000;
  font-weight: bold;
}

  .card{
  margin: 0 auto;
  padding: 2em;
  height: 23rem;
  width: 18rem;
  background: #1c1f2b;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after, .card::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}

.card::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}